.author-box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.author-box .rectangle-wrapper {
    border: 0 none;
}

.author-box .rectangle {
    background-color: #333333;
    height: 75px;
    width: 400px;
}

.author-text {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.author-text .h-1-wrapper {
    border: 0 none;
}

.author-text .text-wrapper {
    color: #f2f2f2;
    font-family: "Raleway-Bold", Helvetica, serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
