.arrow-right-alt-24px-2-1,
.vector-icon,
.vector-icon1 {
    position: absolute;
    top: 635px;
    left: 988px;
    width: 38px;
    height: 38px;
    overflow: hidden;
    display: none;
}
.vector-icon,
.vector-icon1 {
    height: 3.49%;
    width: 2.64%;
    top: 77.06%;
    right: 28.75%;
    bottom: 19.45%;
    left: 68.61%;
    max-width: 100%;
    max-height: 100%;
}
.vector-icon1 {
    height: 1.16%;
    width: 1.76%;
    top: 78.23%;
    right: 29.19%;
    bottom: 20.61%;
    left: 69.05%;
}
.quote-child {
    position: absolute;
    top: 280px;
    left: 309px;
    background-color: #f7df94;
    width: 8px;
    height: 301px;
}
.the-first-rule {
    position: absolute;
    top: 280px;
    left: 416px;
    line-height: 120%;
    font-weight: 500;
    color: #000;
    display: inline-block;
    width: 614px;
}
.bill-gates,
.business {
    position: absolute;
    top: 0;
    left: 0;
}
.business {
    top: 36px;
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--color-gray);
}
.bill-gates-parent,
.quote-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 109px;
    height: 52px;
}
.quote-inner {
    top: 740px;
    left: 416px;
    font-size: 24px;
}
.autorenew-24px-1-icon {
    position: absolute;
    top: 30px;
    left: 1320px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.random {
    position: absolute;
    top: 31px;
    left: 1247px;
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;
}
.created-by,
.span {
    font-weight: 500;
    font-family: var(--font-montserrat);
}
.span {
    font-weight: 600;
}
.username {
    text-decoration: underline;
}
.created-by-username-container {
    position: absolute;
    top: 1049px;
    left: 580px;
    font-size: var(--font-size-sm);
    color: var(--color-gray);
    text-align: center;
    font-family: var(--font-montserrat);
}
.quote {
    position: relative;
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    height: 1090px;
    overflow: hidden;
    text-align: left;
    font-size: 36px;
    color: var(--color-dimgray);
    font-family: var(--font-raleway);
}
